@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-bg: #1e40af;
  --sidebar-hover: #2563eb;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  @apply bg-slate-50 text-slate-900;
}
